@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0e1630;
    --foreground: white;

    --card: #0e1630;
    --card-foreground: white;

    --popover: #0e1630;
    --popover-foreground: white;

    --primary: #4d699e;
    --primary-foreground: white;

    --secondary: #368c8c;
    --secondary-foreground: #f8f8f8;

    --muted: #232f46;
    --muted-foreground: #a3abbf;

    --accent: #232f46;
    --accent-foreground: #f8f8f8;

    --destructive: #3f2b2b;
    --destructive-foreground: #f8f8f8;

    --border: #232f46;
    --input: #232f46;
    --ring: #d4d4d4;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background: var(--background);
    color: var(--foreground);
  }
}
